/* CSS declarations go here */
table {
    margin-top: 20px;
}

tbody {
    counter-reset: rowNumber;
}

tbody tr {
    counter-increment: rowNumber;
}

tbody td:first-child:after {
    content: counter(rowNumber);
}